version: "3.8"

services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:latest
    container_name: wg-easy
    environment:
      - WG_HOST=wirednssya.duckdns.org
      - PASSWORD=@SoporteyAportes$
      - WG_DEFAULT_DNS=10.8.1.3       # IP de Pi-hole en la red Docker
      - WG_DEFAULT_ADDRESS=10.8.0.x   # Subred que usarán los clientes WireGuard
      - INSECURE=true                 # Permite HTTP para pruebas (no recomendado en producción)
    volumes:
      - /home/wg-easy:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    networks:
      wg-easy:
        ipv4_address: 10.8.1.4

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    environment:
      - WEBPASSWORD=@SoporteyAportes$
      - TZ=America/Bogota
    volumes:
      - /home/pihole/etc-pihole:/etc/pihole
      - /home/pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "5353:80/tcp"    # Aquí accedes a Pi-hole por http://host:5353/admin
    restart: unless-stopped
    networks:
      wg-easy:
        ipv4_address: 10.8.1.3

networks:
  wg-easy:
    ipam:
      config:
        - subnet: 10.8.1.0/24
